Repository Giancarix117/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --check --ignore-path .gitignore

WE DID IT. WE FINALLY DID IT!
  .gitignore
  .lintstagedrc.json
  package.json
Due: prettier --check --ignore-path .gitignore

WE DID IT. WE FINALLY DID IT!
  src/App.test.js
Due: eslint --max-warnings 0

Its finally over. My time has come
  src/components/Button.js
Due: eslint --max-warnings 0

Update README.md
  README.md
Due: prettier --check --ignore-path .gitignore

damn these weird errors
  src/CountereButtont.test.js
  src/components/About.js
  src/components/CounterButton.js
Due: eslint --max-warnings 0

fixed test
  README.md
  src/App.test.js
  src/CountereButtont.test.js
Due: eslint --max-warnings 0, prettier --check --ignore-path .gitignore

fixed github actions
  .github/workflows/lint.yml
Due: none

fixed some weird href error
  src/components/About.js
Due: eslint --max-warnings 0

all done
  build-storybook.log
  src/stories/assets/CounterButton.stories.js
  storybook-static/229.72c933833954a46badaf.manager.bundle.js
  storybook-static/229.855cd6c9.iframe.bundle.js
  storybook-static/273.2064dffc.iframe.bundle.js
  storybook-static/292.2827c112d008b7c72323.manager.bundle.js
  storybook-static/295.ec074fe601badc1348c9.manager.bundle.js
  storybook-static/426.8aacfede.iframe.bundle.js
  storybook-static/426.8aacfede.iframe.bundle.js.LICENSE.txt
  storybook-static/51.9b8d86b8beb1a1b3ca5d.manager.bundle.js
  storybook-static/51.a798667c.iframe.bundle.js
  storybook-static/551.34473f0c.iframe.bundle.js
  storybook-static/551.a3d9122ac0b2d22695d3.manager.bundle.js
  storybook-static/701.90fc61d3.iframe.bundle.js
  storybook-static/745.1bb7813c.iframe.bundle.js
  storybook-static/807.4172ac5a.iframe.bundle.js
  storybook-static/807.c7a2e793ed1aaf05c4ae.manager.bundle.js
  storybook-static/897.0f2c5f433130575af9c8.manager.bundle.js
  storybook-static/897.177bd7f5.iframe.bundle.js
  storybook-static/935.11fafbef501d533a472b.manager.bundle.js
  storybook-static/935.6afca173.iframe.bundle.js
  storybook-static/iframe.html
  storybook-static/index.html
  storybook-static/main.6c14d670c3170cf3d530.manager.bundle.js
  storybook-static/main.85e154e8.iframe.bundle.js
  storybook-static/project.json
  storybook-static/runtime~main.b77f6c97c90b30f67a36.manager.bundle.js
  storybook-static/runtime~main.fd273d9a.iframe.bundle.js
Due: eslint --max-warnings 0, prettier --check --ignore-path .gitignore

Updated curriculum
  public/me.svg
  src/assets/resume.pdf
  src/components/About.js
  src/components/Contact.js
  src/components/Navbar.js
Due: eslint --max-warnings 0

curriculum
  src/components/Navbar.js
Due: eslint --max-warnings 0

testing certs
  src/assets/CompTIA Security+ ce certificate (1).pdf
  src/components/Navbar.js
Due: eslint --max-warnings 0

test
  src/components/Certs.js
Due: eslint --max-warnings 0

testa
  src/assets/Sec.pdf
  src/components/Certs.js
Due: eslint --max-warnings 0

Path conditions:
  eslint --max-warnings 0: any of: *.js
  prettier --check --ignore-path .gitignore: any of: *.{json,md}
